<h1>testando inicializar projeto angular e button</h1>

<button style="background-color: lightblue;">botão</button>

<button mat-button>botão</button> <!-- Botão básico -->

<button mat-raised-button color="accent">botão</button> 

<button mat-flat-button color="warn">botão</button> 

<br><br>

<h1>Ícones = icon button</h1>

<button mat-icon-button aria-label="iconButton">
    <mat-icon>thumb_up</mat-icon>
</button>

<button mat-fab aria-label="fabButton">
    <mat-icon>thumb_up</mat-icon>
</button>

<button mat-mini-fab aria-label="minifabButton">
    <mat-icon>thumb_up</mat-icon>
</button>
<br> <br>
<input type="text"> <br>
<input type="text"> <br>
<input type="text">
